.article-container {
  @include clearfix;

  .article {
    width: 100%;
    background: rgba(255,255,255,0.7);
    margin-bottom: 20px;

    a {
      @extend .text-link;
    }

    &.wide {
      @include tablet {
        width: 100%;
      }
    }


    .image-content {
      text-align: center;

      a {
        width: 100%;
        display: inline-block;
      }

      img {
        width: 100%;
      }
    }

    @include tablet {
      width: 48%;
      float: left;
      @include clearfix;

      &:nth-child(odd) {
        margin-right: 4%;
      }

      .image-content {
        img {
          width: auto;
          max-width: 100%;
        }
      }
    }

    @include desktop {
      .image-content,
      .text-content {
        float: left;
      }

      .image-content {
        text-align: left;
        width: 30%;
      }

      .text-content {
        width: 70%;
      }
      .day {
        display: block !important;
      }
    }

    .title-content {
      @include clearfix;
      position: relative;
      margin-bottom: 10px;

      .title {
        width: 80%;
        padding: 5px 10px;

        h2 {
          line-height: 24px;
          font-weight: 700;
          color: #428bca;
          font-size: 18px;
          margin-bottom: 10px;
        }
        
        
      }

      .date {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 80px;
        max-width: 20%;
        max-height: 60px;
        float: right;
        text-align: center;
        color: #777;
        background: #f2f2f2;
        padding: 10px 5px;
        vertical-align: middle;

        span {
          display: inline-block;
        }

        .day {
          font-size: 24px;
        }

        .mo-ye {
          font-size: 10px;
          text-transform: uppercase;
        }
      }
    }

    .article-lead {
      padding: 0 10px 10px 10px;
      line-height: 1.3;
      font-size: 14px;
    }

    &.small {
      width: 100%;
      height: 57px;
      overflow-y: hidden;

      .day {
        display: block !important;
      }

      @include tablet {
        width: 100%;
        @include clearfix;
  
        &:nth-child(odd) {
          margin-right: 4%;
        }
        .text-content {
          width: 70%;
          float: left;
        }
  
        .image-content {
          text-align: left;
          width: 30%;
          float: left;
          img {
            width: auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}