.site-footer {
  margin: 10px 0;
  position: relative;
  bottom: 0;

  .container {
    background: #212121;
    color: #555;
    padding: 20px;

    .fb-embed {
      @include max-tablet {
        margin-bottom: 10px;
        text-align: center;
      }
    }

    .footer-box {
      padding: 0 10px;

      @include max-tablet{
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }

  .footnote {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;

    @include desktop {
      text-align: left;
    }

    ul {

      li {
        list-style-type: none;
        margin-top: 12px;
      }
    }

    @include desktop {
      ul {
        float: right;

        li {
          margin-top: 0;
          float: left;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}