@mixin phone {
  @media (max-width: #{$bp-medium}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$bp-medium}) {
    @content;
  }
}

@mixin max-tablet {
  @media (max-width: #{$bp-x-large}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$bp-x-large}) {
    @content;
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}