.article-box {
  position: relative;
  background: rgba(255,255,255,0.7);
  padding: 20px;

  .article-head {
    margin-right: 50px;

    h2 {
      line-height: 24px;
      font-weight: 700;
      color: #428bca;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .article-details {
      span {
        font-size: 11px;
        margin-right: 5px;
  
        a {
          @extend .text-link;
        }
  
        &.publisher {
          &:before {
            font-family: "FontAwesome";
            content: "\f007";
            margin-right: 5px;
          }
        }
  
        &.category {
          &:before {
            font-family: "FontAwesome";
            content: "\f07c";
            margin-right: 5px;
          }
        }
  
        &.tags {
          &:before {
            font-family: "FontAwesome";
            content: "\f02b";
            margin-right: 5px;
          }
        }
  
        &.comments {
          &:before {
            font-family: "FontAwesome";
            content: "\f075";
            margin-right: 5px;
          }
        }
      }
    }
  }
  .article-body {
    margin: 20px 0;
  }

  .date-box {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80px;
    max-width: 20%;
    max-height: 60px;
    float: right;
    text-align: center;
    color: #777;
    background: #f2f2f2;
    padding: 10px 5px;
    vertical-align: middle;

    span {
      display: inline-block;
    }

    .day {
      font-size: 24px;
    }

    .mo-ye {
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}

.article-comment-list {
  .forum-link {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom, rgba(204, 204, 204, 0.2) 0%, rgba(204, 204, 204, 0.25) 10px, rgba(204, 204, 204, 0) 50px);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 3px 1px rgba(128, 128, 128, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.15), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
    display: block;
    width: auto;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

  .article-comment {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom, rgba(204, 204, 204, 0.2) 0%, rgba(204, 204, 204, 0.25) 10px, rgba(204, 204, 204, 0) 50px);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 3px 1px rgba(128, 128, 128, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.15), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
    display: block;
    width: auto;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px;

    .comment-head {
      border-bottom: 1px #888 solid;
      margin-bottom: 5px;
      height: 25px;

      .user-name {
        color: #428bca;
        font-weight: bold;
        text-decoration: none;
      }

      .date {
        float: right;
      }
    }
  }
}
