html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
  a:hover {
    text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*-- BREAKPOINTS --*/
.text-link {
  color: inherit;
  transition: color 200ms; }
  .text-link:hover {
    text-decoration: none;
    color: #428bca; }

p {
  margin-bottom: 1em;
  line-height: 1.2; }
  p:last-child {
    margin-bottom: 0; }

h5 {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em; }

@media (min-width: 1000px) {
  .site-navigation {
    background: #212121;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #323232;
    box-shadow: 1px -1px 13px 7px rgba(0, 0, 0, 0.5);
    max-height: 40px; }
    .site-navigation .mobile-nav {
      display: none; }
    .site-navigation nav ul {
      text-align: center; }
      .site-navigation nav ul::after {
        display: block;
        content: "";
        clear: both; }
      .site-navigation nav ul li {
        position: relative;
        display: inline-block;
        padding: 10px;
        transition: all 200ms;
        color: #428bca; }
        .site-navigation nav ul li:hover {
          color: #92bce0; }
          .site-navigation nav ul li:hover .dropdown {
            display: block; }
        .site-navigation nav ul li a {
          text-transform: uppercase;
          line-height: 18px;
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          transition: color 200ms; }
        .site-navigation nav ul li .dropdown {
          position: absolute;
          z-index: 599;
          display: none;
          top: 100%;
          left: 0;
          background: #fff;
          border-bottom: 0;
          margin: 0;
          padding: 0;
          width: 200px;
          border-left: 1px solid #f2f2f2;
          border-right: 1px solid #f2f2f2;
          border-top: 1px solid #f2f2f2; }
          .site-navigation nav ul li .dropdown li {
            display: block;
            border-bottom: 1px solid #f2f2f2;
            text-align: left; }
            .site-navigation nav ul li .dropdown li a {
              font-size: 12px;
              color: #555; }
              .site-navigation nav ul li .dropdown li a:hover {
                color: #428bca; } }

@media (max-width: 1000px) {
  .site-navigation {
    background: #212121;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #323232;
    box-shadow: 1px -1px 13px 7px rgba(0, 0, 0, 0.5);
    max-height: 40px; }
    .site-navigation .mobile-nav {
      display: block;
      padding: 10px;
      text-align: center;
      color: #428bca; }
    .site-navigation nav.open ul {
      display: block; }
    .site-navigation nav ul {
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      width: 100%;
      text-align: center; }
      .site-navigation nav ul li {
        display: block;
        padding: 10px;
        background: #323232;
        border-bottom: 1px solid #656565; }
        .site-navigation nav ul li.dd {
          position: relative; }
          .site-navigation nav ul li.dd:after {
            display: inline-block;
            color: #428bca;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            content: '\f078';
            position: absolute;
            top: 10px;
            right: 10px; }
        .site-navigation nav ul li.open .dropdown {
          display: block; }
        .site-navigation nav ul li .dropdown {
          display: none;
          position: relative;
          top: 10px; }
          .site-navigation nav ul li .dropdown li {
            background: #fff; } }

#main-content {
  background: #ecedef;
  margin-top: 70px;
  padding: 10px; }

.site-footer {
  margin: 10px 0;
  position: relative;
  bottom: 0; }
  .site-footer .container {
    background: #212121;
    color: #555;
    padding: 20px; }
    @media (max-width: 1000px) {
      .site-footer .container .fb-embed {
        margin-bottom: 10px;
        text-align: center; } }
    .site-footer .container .footer-box {
      padding: 0 10px; }
      @media (max-width: 1000px) {
        .site-footer .container .footer-box {
          margin-bottom: 10px;
          text-align: center; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body {
  background: url(http://mk.deltavision.hu/wp-content/uploads/2015/10/background.png);
  background-position: 0 0;
  background-repeat: repeat; }
