html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
  a:hover {
    text-decoration: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.site-navigation {
  background: #212121;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #323232;
  box-shadow: 1px -1px 13px 7px rgba(0, 0, 0, 0.5);
  max-height: 40px; }
  .site-navigation nav ul {
    text-align: center; }
    .site-navigation nav ul::after {
      display: block;
      content: "";
      clear: both; }
    .site-navigation nav ul > li {
      position: relative;
      display: inline-block;
      padding: 10px;
      transition: all 200ms;
      color: #428bca; }
      .site-navigation nav ul > li:hover {
        color: #92bce0; }
        .site-navigation nav ul > li:hover .dropdown {
          display: block;
          opacity: 1; }
      .site-navigation nav ul > li a {
        text-transform: uppercase;
        line-height: 18px;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        transition: color 200ms; }
      .site-navigation nav ul > li .dropdown {
        position: absolute;
        z-index: 599;
        display: none;
        top: 100%;
        left: 0;
        background: #fff;
        border-bottom: 0;
        margin: 0;
        padding: 0;
        width: 200px;
        border-left: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;
        opacity: 0;
        transition: opacity 300ms; }
        .site-navigation nav ul > li .dropdown li {
          display: block;
          border-bottom: 1px solid #f2f2f2;
          text-align: left; }
          .site-navigation nav ul > li .dropdown li a {
            font-size: 12px;
            color: #555; }
            .site-navigation nav ul > li .dropdown li a:hover {
              color: #428bca; }
