<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/app.css">
</head>
<body>
<% include header %>
    <div id="main-content" class="container">
        <div class="article-container">
            <% for(var i=0; i < itms.length; i++) { %>
                <span><%= itms[i].Név %></span>
            <% } %>
        </div>
    </div>
<% include footer %>
<script src="js/app-min.js"></script>
</body>
</html>
