<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/app.css">
    <link href='style/fullcalendar.min.css' rel='stylesheet' />
	<link href='style/fullcalendar.print.min.css' rel='stylesheet' media='print' /> 
	<script src='js/calendar/moment.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/calendar/calendar.js"></script>
    
<style>
		
	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		text-align: left;
		}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}
		
	.external-event { /* try to mimick the look of a real event */
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}

	#calendar {
        margin: 0 auto;
		width: 100%;
		background-color: #FFFFFF;
		  border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
		-webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
        -moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
        box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
		}

</style>
</head>
</head>
<body>
<p id="data" style="display:none"><%- itms%></p>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

<script>

	$(document).ready(function() {
	    var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		/*  className colors
		
		className: default(transparent), important(red), chill(pink), success(green), info(blue)
		
		*/		
		
		  
		/* initialize the external events
		-----------------------------------------------------------------*/
	
		$('#external-events div.external-event').each(function() {
		
			// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			// it doesn't need to have a start or end
			var eventObject = {
				title: $.trim($(this).text()) // use the element's text as the event title
			};
			
			// store the Event Object in the DOM element so we can get to it later
			$(this).data('eventObject', eventObject);
			
			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});
			
		});
	
	
		/* initialize the calendar
		-----------------------------------------------------------------*/
		var json = []

		var temp = JSON.parse($("#data").text())
		
		for(i=0; i < temp.length; i++) {
			var allday 
			if(typeof(temp[i].allDay) == "undefined"){allday = false} else {allday = temp[i].allDay}			
			var startdate = new Date(temp[i].start)
			var enddate = new Date(temp[i].end)
			console.log(startdate.getDate())
			var obj = {
				title: temp[i].title,
				start: new Date(startdate.getFullYear(), startdate.getMonth(), startdate.getDate(), startdate.getHours(), startdate.getMinutes()),
				end: new Date(enddate.getFullYear(), enddate.getMonth(), enddate.getDate(), enddate.getHours(), enddate.getMinutes()),
				allDay: false,
				className: temp[i].className,
				url: "news/item/"+temp[i].url 
			}

			json.push(obj);
		}

		console.log(json)

		var calendar =  $('#calendar').fullCalendar({
			 header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
      },
      defaultDate: '2018-02-12',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events

			events: json,			
		});
		
		
	});

</script>
<% include header %>
    <div id="main-content" class="container">
        <div class="article-container">
                <div id='calendar'></div>
                <div style='clear:both'></div>
        </div>
    </div>
<% include footer %>
<script src="js/app-min.js"></script>
</body>
</html>
