<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 fb-embed">
        <div class="fb-page" data-href="https://www.facebook.com/SarkanytuzBudapest/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/SarkanytuzBudapest/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SarkanytuzBudapest/">Sárkánytűz Budapest</a></blockquote></div>
      </div>
      <div class="col-md-4 col-sm-12 fb-embed">
        <div class="fb-page" data-href="https://www.facebook.com/DeltaVisionKiado/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/DeltaVisionKiado/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DeltaVisionKiado/">DeltaVisionKiado Budapest</a></blockquote></div>
      </div>
    
      <div class="col-md-4 col-sm-12 footer-box text-center">
        <h5>Delta Vision kft.</h5>
        <p>
          <i class="fa fa-map-marker" aria-hidden="true"></i> 1092 Budapest<br>
          Ferenc körút 40. <br>
          <i class="fa fa-mobile" aria-hidden="true"></i> +3670/322-3093<br>
          <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:bolt@deltavision.hu" class="text-link">bolt@deltavision.hu</a><br>
        </p>
          
      </div>
    </div>
    <div class="row footnote">
      <div class="col-md-4 col-sm-12">
        <p>© 2018 Delta Vision kiadó. Minden jog fenntartva!</p>
      </div>
      <div class="col-md-8 col-sm-12">
        <ul>
          <li><a href="" class="text-link">Főoldal</a></li>
          <li><a href="" class="text-link">Cikkek</a></li>
          <li><a href="" class="text-link">Események</a></li>
          <li><a href="" class="text-link">Lapkereső</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>