<header class="site-navigation">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">Főoldal</a></li>
                    <li class="dd"><a href="#">Cikkek</a></li>
                    <li class="dd"><a href="#">Kiegészítők</a>
                        <ul class="dropdown">
                            <li><a href="">Drop Menu 1</a></li>
                            <li><a href="">Drop Menu 2</a></li>
                            <li><a href="">Drop Menu 3</a></li>
                            <li><a href="">Drop Menu 4</a></li>
                            <li><a href="">Drop Menu 3</a></li>
                            <li><a href="">Drop Menu 4</a></li>
                        </ul>
                    </li>
                    <li class="dd"><a href="#">Lapkereső</a>
                        <ul class="dropdown">
                            <li><a href="">Drop Menu 1</a></li>
                            <li><a href="">Drop Menu 2</a></li>
                            
                        </ul>
                    </li>
                    <li><a href="http://www.deltavision.hu/kartyajatek/swsorsok/">Webshop</a></li>
                </ul>
            </nav>
            <div class="mobile-nav">
               <a class="open-menu" href=""> MENÜ <i class="fa fa-bars" aria-hidden="true"></i></a>
            </div>
            <div class="namesearch frmSearch">
                <input id="search-box" type="text" placeholder="keresés..."></input>
                <div id="suggesstion-box"></div>
            </div>
            <div class="userhandle">
            <% if(user) {%>
                <table>
                    <tr>
                        <td>Hello: <%= user.local.username%></td>
                        <td class="spacer">|</td>
                        <td><a href="/logout">Kijelentkezés</a></td>
                    </tr>
                </table>
            <% } else {%>
                <td><a href="/login">Bejelentkezés</a></td>
                    <td class="spacer">|</td>
                <td><a href="/Signup">Regisztráció</a></td>
            <% } %>
            </div>
            
        </div>
        <script>
        $(document).ready(function(){
            $("#search-box").keyup(function(){
                $.ajax({
                type: "POST",
                url: "/search/autocomplete",
                data:'keyword='+$(this).val(),
                beforeSend: function(){
                    $("#search-box").css("background","#FFF url(LoaderIcon.gif) no-repeat 165px");
                },
                success: function(data){   
                    $("#suggesstion-box").empty();              
                    var temp = JSON.parse(data);
                    var Szinesítő = "";
                    for(i=0; i < temp.length; i++) {
                        console.log(temp[i].Szinesítő)
                        if(temp[i].Szinesítő != undefined) {
                            Szinesítő = " - "+temp[i].Szinesítő
                        } else {
                            Szinesítő = ""
                        }
                        $("#suggesstion-box").append("<a href='/card/single/"+temp[i].Kiadás+"/"+temp[i].Sorszám+"'><b>"+temp[i].Név+"</b>"+Szinesítő+"</a>")
                    }
                    $("#suggesstion-box").show();
                    $("#search-box").css("background","#FFF");
                }
                });
            });/*
            $("#search-box").focusout(function(){
                $("#search-box").val("");
                $("#suggesstion-box").empty(); 
                $("#suggesstion-box").hide();
            })*/
        });
        </script>
    </header>