<header class="site-navigation">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">Főoldal</a></li>
                    <li class="dd"><a href="#">Cikkek</a>
                        <ul class="dropdown">
                            <li><a href="">Drop Menu 1</a></li>
                            <li><a href="">Drop Menu 2</a></li>
                            <li><a href="">Drop Menu 3</a></li>
                            <li><a href="">Drop Menu 4</a></li>
                        </ul>
                    </li>
                    <li class="dd"><a href="#">Kiegészítők</a>
                        <ul class="dropdown">
                            <li><a href="">Drop Menu 1</a></li>
                            <li><a href="">Drop Menu 2</a></li>
                            <li><a href="">Drop Menu 3</a></li>
                            <li><a href="">Drop Menu 4</a></li>
                            <li><a href="">Drop Menu 3</a></li>
                            <li><a href="">Drop Menu 4</a></li>
                        </ul>
                    </li>
                    <li class="dd"><a href="#">Lapkereső</a>
                        <ul class="dropdown">
                            <li><a href="">Drop Menu 1</a></li>
                            <li><a href="">Drop Menu 2</a></li>
                            
                        </ul>
                    </li>
                    <li><a href="#">Fórum</a></li>
                    <li><a href="#">Webshop</a></li>
                </ul>
            </nav>
            <div class="mobile-nav">
               <a class="open-menu" href=""> MENÜ <i class="fa fa-bars" aria-hidden="true"></i></a>
            </div>
            
        </div>
        
    </header>