<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/app.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style>
        
    </style>
</head>
<body>
    <header class="site-navigation">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">Főoldal</a></li>
                    <li class="dd"><a href="#">Cikkek</a>
                        <ul class="dropdown">
                            <li><a href="">Drop Menu 1</a></li>
                            <li><a href="">Drop Menu 2</a></li>
                            <li><a href="">Drop Menu 3</a></li>
                            <li><a href="">Drop Menu 4</a></li>
                        </ul>
                    </li>
                    <li class="dd"><a href="#">Kiegészítők</a>
                        <ul class="dropdown">
                            <li><a href="">Drop Menu 1</a></li>
                            <li><a href="">Drop Menu 2</a></li>
                            <li><a href="">Drop Menu 3</a></li>
                            <li><a href="">Drop Menu 4</a></li>
                            <li><a href="">Drop Menu 3</a></li>
                            <li><a href="">Drop Menu 4</a></li>
                        </ul>
                    </li>
                    <li class="dd"><a href="#">Lapkereső</a>
                        <ul class="dropdown">
                            <li><a href="">Drop Menu 1</a></li>
                            <li><a href="">Drop Menu 2</a></li>
                            
                        </ul>
                    </li>
                    <li><a href="#">Fórum</a></li>
                    <li><a href="#">Webshop</a></li>
                </ul>
            </nav>
            <div class="mobile-nav">
               <a class="open-menu" href=""> MENÜ <i class="fa fa-bars" aria-hidden="true"></i></a>
            </div>
            
        </div>
        
    </header>
<!--div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>

    <div class="text-center">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
        <p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
    </div>

</div-->
<script src="js/app-min.js"></script>
</body>
</html>
