<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/app.css">
    <script src="jquery/dist/jquery.min.js"></script>
</head>
<style>
    .btn {
        font-size: 12px;
    }
    
    #search-input {
        width: 470px;
        max-width: 100%;
    }
    
    .form-inline {
        margin-bottom: 20px;
    }
    
    .sm-inputs input {
        max-width: 75px;
    }
</style>

<body>
    <% include header %>
        <div id="main-content" class="container">
            <h2 class="text-center">Kártya kereső</h2>
            <form action="/search/advanced" method="POST">
                <div class="form-inline text-center">

                    <div class="form-group">
                        <input type="text" class="form-control" id="search-input" aria-describedby="Kereső mező" name="field">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Keresés</button>
                    </div>

                </div>

                <div class="form-inline text-center">
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" value="true" id="name" name="name">
                        <label class="form-check-label" for="name">
                            Név alapján
                        </label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" value="true" id="text" name="text">
                        <label class="form-check-label" for="text">
                            Szöveg alapján
                        </label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" value="true" id="illustrator" name="illustrator">
                        <label class="form-check-label" for="illustrator">
                            Illusztrátor alapján
                        </label>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" value="true" id="quote" name="quote">
                        <label class="form-check-label" for="quote">
                            Idézet alapján
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Szín</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="color" value="blue"> Kék - Erő
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="color" value="red"> Piros - Hadsereg
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="color" value="yellow"> Sárga - Szerencsevadászok
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="color" value="gray"> Szürke - Egyéb
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="">Oldal </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                    <input type="checkbox" name="side" value="bad"> Gonosz
                                </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                    <input type="checkbox" name="side" value="hero"> Hős
                                </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                    <input type="checkbox" name="side" value="neutral"> Semleges
                                </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">Típus </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="type" value="character"> Karakter
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="type" value="upgrade"> Fejlesztés
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="type" value="assist"> Támogatás
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="type" value="event"> Esemény
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="type" value="battlefield"> Csatatér
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="type" value="plan"> Terv
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="">Gyakoriság </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                        <input type="checkbox" name="rarity" value="rare"> Ritkaság
                                    </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                        <input type="checkbox" name="rarity" value="common"> Gyakori
                                    </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                        <input type="checkbox" name="rarity" value="uncommon"> Nem gyakori
                                    </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                        <input type="checkbox" name="rarity" value="rare"> Ritka
                                    </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                        <input type="checkbox" name="rarity" value="legend"> Legendás
                                    </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="rarity" value="starter"> Kezdőcsomag
                            </label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="">Altípus</label>
                            <select class="form-control" name="subtype">
                                <option value="skill">Képesség</option>
                                <option value="equipment">Felszerelés</option>
                                <option value="weapon">Fegyver</option>
                                <option value="wehicle">Jármű</option>
                                <option value="droid">Droid</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Kiadás</label>
                            <select class="form-control" name="set">
                                    <option value="ebredesek">Ébredések</option>
                                    <option value="lazadas">Lázadás</option>
                                    <option value="birodalom">Birodalom fegyverben</option>
                                    <option value="ketjatekos">Kétjátékos szett</option>
                                    <option value="orokseg">Örökség</option>
                                    <option value="rivalisok">Riválisok</option>
                                </select>
                        </div>
                        <div class="form-group sm-inputs">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Erőforrásköltség</label>
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Min" id="" name="forceMinMax">
                                        </div>
                                        -
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Max" id="" name="forceMinMax">
                                        </div>
                                    </div>
                                    <label for="">Pont</label>
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Min" id="" name="pointMinMax">
                                        </div>
                                        -
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Max" id="" name="pointMinMax">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Életerő</label>
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Min" id="" name="lifeMinMax">
                                        </div>
                                        -
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Max" id="" name="lifeMinMax">
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </form>

        </div>

        <% include footer %>
            <script src="js/app-min.js"></script>
</body>

</html>