<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../style/app.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style>
        
    </style>
</head>
<body>
  <% include header %>
  <div id="main-content" class="container">
    <div class="article-box">
      <div class="date-box">
        <span class="day">30</span>
        <span class="mo-ye">Nov 2017</span>
      </div>
      
      <div class="article-head">
        <h2><%= newsitem.Cím %></h2>

        <div class="article-details">
          <span class="publisher"><a href=""><%= newsitem.Szerző %></a></span>
          <span class="category"><a href=""><%= newsitem.Kategória %></a></span>
          <span class="tags"><a href="">tag1</a>, <a href="">lorem ipsum tag2</a>, <a href="">lorem tag3</a>,</span>
          <span class="comments"><a href="">123</a></span>
        </div>
      </div>
      
      
      <div class="article-body">
        <%- newsitem.Tartalom %>
      </div>
    </div>
    <div class="article-comment-list">
      <a class="forum-link" href="#">Szólj hozzá a fórumon</a>
      <div class="article-comment">
        <div class="comment-head">
          <a class="user-name" href="#">username</a>
          <span class="date">2017.05.23. 18:32</span>
        </div>
        <div class="comment-body">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>
      </div>
    </div>
    
  </div>
  <% include footer %>
<script src="../../js/app-min.js"></script>
</body>
</html>